# Python environment (Folder with created with venv)
venv/

# Environment variables (Where keys are/will live)
.env

# RSA Private Key files (Don't upload these)
*.pem
*.key

# Private Planning and Notes
future_architecture.mmd
ARCHITECTURE.md

# Compiled Python files (Created automatically)
__pycache__/
*.pyc
*.pyo

# Windows junk files
Thumbs.db
desktop.ini